:root {
  --bg-color: white;
  --bg-secondary-color: rgb(34, 33, 33);
  --text-color: rgb(246, 244, 244);
  --secondary-text-color: black;
}

body {
  min-height: 100%;
  margin: 0;
}

/** ----- TYPOGRAPHY ----- **/
*,
button,
a {
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
  margin: 0;
  color: var(--secondary-text-color);
}

body {
  font-family: "Inter", system-ui, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 600;
}
h2 {
  font-size: 2.3rem;
  line-height: 1.25;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.3;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.35;
}
h5 {
  font-size: 1.1rem;
  line-height: 1.4;
}
h6 {
  font-size: 1rem;
  line-height: 1.5;
}

p {
  font-size: 0.95rem;
  line-height: 1.6;
}
small {
  font-size: 0.875rem;
  line-height: 1.4;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }
}

/** ----- TYPOGRAPHY ----- **/

header {
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    170deg,
    var(--bg-secondary-color) 55%,
    var(--bg-color) 55%
  );
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.wrapper,
.project-section-wrapper {
  padding: 50px;
}

.intro-img {
  position: relative;
  height: 350px;
  width: 350px;
  object-fit: cover;

  background-image: linear-gradient(rgba(0, 0, 0, 0.31)), url("Bellion.jpg");
  background-size: cover;
  background-position: 60% center;
  background-repeat: no-repeat;

  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.421);
  flex-shrink: 0;
}

.intro-name {
  position: absolute;
  bottom: 0;
  color: var(--text-color);
  width: 100%;
  padding: 10px 20px;
}

.intro-card {
  padding: 20px;
  background-color: var(--bg-color);
  max-width: 700px;
}

.intro-card,
.project {
  box-shadow: 1px 1px 7px 1px rgba(34, 33, 33, 0.492);
}

.intro-card p {
  font-size: 1.1rem;
}

.intro-about-me,
.intro-text {
  margin-bottom: 12px;
}

.icon-wrapper {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.icon-wrapper img {
  height: 30px;
  transition: transform 0.25s;
}

.icon-wrapper img:hover {
  transition: transform 0.15s;
  transform: scale(1.08);
  cursor: pointer;
}

@media (min-width: 700px) and (max-width: 980px) {
  .intro-img {
    float: left;
    margin-right: 1rem;
  }

  .wrapper {
    display: block;
  }

  .intro-card {
    margin-top: 65px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 980px) {
  .wrapper {
    flex-direction: row;
    gap: 0;
  }
}

.icon-s {
  width: 20px;
  height: 20px;
}

.project {
  max-width: 350px;
  transition: transform 0.15s;
  will-change: transform;
}

.project:hover {
  transform: scale(1.01);
}

.project-content {
  padding: 10px 20px 30px;
}

.project-content h3 {
  margin-bottom: 6px;
  font-weight: 400;
}

.fake-img {
  height: 200px;
  background-color: var(--bg-secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--bg-color);
}

.name-icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.project-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  max-width: 1200px;
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 700px) {
  .project-section-wrapper h2 {
    align-self: flex-start;
  }
}

footer {
  padding: 50px;
  padding-bottom: 20px;
  background-color: var(--bg-secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  width: 100%;
  max-width: 1000px;
}

.footer-content p,
.footer-content h3 {
  color: var(--text-color);
}

.footer-img {
  height: 350px;
  width: 350px;
  object-fit: cover;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 700px) {
  .footer-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  footer {
    padding-bottom: 50px;
  }
}
